.scoreScroll {
	overflow-x: scroll;
	overflow-y: scroll;

	margin: 0px;
	width: 1270px;
	border: 1px solid #ccc;
	height: 200px;

	background-color: #fff;
	flex-grow: 1;
	align-self: center;
}

.score {
}