.App {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	display: flex;
	background-color: #ccc;
	flex-direction: column;
}

.topContent {
	background-color: #fff;
	border-bottom: 1px solid #999;
	box-shadow: 0px 1px 5px #aaa;
	display: flex;
	justify-content: space-between;
}

.bottomContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border-top: 1px solid #999;
	text-align: center;
	box-shadow: 0px -2px 5px #aaa;
}

.split {
	display: flex;
	flex-direction: column;
	width: 1270px;
	height: 500px;
	flex-grow: 1;
	align-self: center;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}