.scrollScroll {
	overflow-x: hidden;
	overflow-y: scroll;

	margin: 0px;
	width: 1270px;
	height: 200px;
	border: 1px solid #ccc;
	flex-grow: 1;

	background-color: #fff;
	align-self: center;
}

.svg {
}